---

# Sensitive environment variables
fedora_proxy_url: ""
mysql_root_password: ""
new_relic_license_key: ""
newrelic_appname: ""
route53_zone_id: ""
s3_backup_bucket: ""
s3_backup_project: ""
wordpress_smtp_host: ""
wordpress_smtp_user: ""
wordpress_smtp_password: ""

# SSH public keys to pull from GitHub and authorize
github_ssh_keys:
  - username: "github_username"
    authorized:
      - "{{ ansible_ssh_user }}"

# WordPress ENV variables to be merged into existing hash
wordpress_sites:
  commons:
    env:
      admin_email: ""
      cbox_auth_api_key: ""
      cbox_auth_api_secret: ""
      cbox_auth_api_url: ""
      db_name: ""
      db_user: ""
      db_password: ""
      global_smtp_from: ""
      wpcom_api_key: ""
