---

# Sensitive environment variables
fedora_proxy_url: ""
mysql_root_password: ""
new_relic_license_key: ""
newrelic_appname: ""
route53_zone_id: ""
s3_backup_bucket: ""
s3_backup_project: ""
wordpress_smtp_host: ""
wordpress_smtp_user: ""
wordpress_smtp_password: ""

# Users and SSH public keys
users:
  - name: "{{ ansible_ssh_user }}"
    groups:
      - "sudo"
      - "{{ web_group }}"
    keys:
      - "https://github.com/github_username.keys"

# WordPress ENV variables to be merged into existing hash
wordpress_sites:
  commons:
    env:
      admin_email: ""
      cbox_auth_api_key: ""
      cbox_auth_api_secret: ""
      cbox_auth_api_url: ""
      db_name: ""
      db_user: ""
      db_password: ""
      global_smtp_from: ""
      wpcom_api_key: ""
