# Inventory

[initialize]
200.200.200.200

[production-web]
200.200.200.200
production-web-server

[production-db]
production-db-server

[development]
development-server


# Functional groups

[production:children]
production-web
production-db
