#!/bin/sh

## Copy restore files from off-site backup. Clone project, install dependencies
## and import restore files.

# Configuration.
current_date=`date +%Y%m%d`
project_root_dir="{{ www_root }}/commons/current"
project_env_template="{{ www_root }}/commons/conf/env.template"
nginx_conf_dir="/etc/nginx/sites-available"
restore_dir="/tmp/wordpress-restore"
production_domain="commons.mla.org"
production_domain_regex="commons\\.mla\\.org"
fqdn=`hostname -f`

# Create project directory
mkdir -p $project_root_dir

# Define restore files.
mysql_s3_restore_file="s3://mla-backup/commons/db/daily/commons-db_$current_date.sql.gz"
wordpress_s3_restore_file="s3://mla-backup/commons/www/daily/commons-www_$current_date.tar.gz"

# Copy restore files.
echo "Downloading restore files...."
mkdir -p $restore_dir
aws s3 cp $wordpress_s3_restore_file $restore_dir/wordpress.backup.tar.gz
aws s3 cp $mysql_s3_restore_file $restore_dir/mysql.backup.sql.gz

# Clone project and install dependencies.
if [ ! -d "$project_root_dir/.git" ]; then
  cd $project_root_dir
  git init
  git remote add origin {{ wordpress_sites.commons.repo }}
  git fetch
  git checkout -t origin/{{ wordpress_sites.commons.repo_branch }}
  composer install
fi

# Extract wp-content directory from backup.
echo "Extracting web files...."
tar -C $project_root_dir/web/app/ --strip-components=3 -xvzf $restore_dir/wordpress.backup.tar.gz ./public/wp-content/blogs.dir ./public/wp-content/uploads
sudo chown -R {{ web_user }}:{{ web_group }} $project_root_dir/web/app/blogs.dir $project_root_dir/web/app/uploads

# Extract database backup and replace existing database.
echo "Loading database backup...."
gunzip -c $restore_dir/mysql.backup.sql.gz | mysql {{ wordpress_sites.commons.env.db_name }}

# Populate .env with development domain.
echo "Updating project environment...."
sed "s/$production_domain_regex/$fqdn/g" $project_env_template > $project_root_dir/.env

# Update nginx configuration to use development domain.
echo "Updating nginx configuration...."
for file in $nginx_conf_dir/*.conf; do
  sudo sed -i "s/$production_domain_regex/$fqdn/g" $file
done
sudo service nginx reload

# Update database to use development domain.
echo "Updating database...."
wp search-replace \
--skip-columns=guid \
--network \
--url="$production_domain" \
--path="$project_root_dir/web/wp" \
"$production_domain" "$fqdn"
