# Shortcuts
export app="{{ wordpress_install_directory }}"
export plugins="{{ wordpress_install_directory }}/public/wp-content/plugins"
export themes="{{ wordpress_install_directory }}/public/wp-content/themes"
