auto lo
iface lo inet loopback

# This line ensures that the interface will be brought up during boot.
auto eth0 eth0:0 eth0:1

# Public
iface eth0 inet static
 address {{ public_ip_address }}
 netmask {{ public_ip_netmask }}
 gateway {{ public_ip_gateway }}

# Private
iface eth0:1 inet static
 address {{ private_ip_address }}
 netmask {{ private_ip_netmask }}
