[DEFAULT]
ignoreip = 127.0.0.1/8

[nginx-rate-limit]
enabled = true
action = ufw
filter = nginx-rate-limit
logpath = /var/log/nginx/error.log
bantime = {{ fail2ban_bantime | default('2592000') }}
findtime = {{ fail2ban_findtime | default('86400') }}
maxretry = 3

[wordpress-auth]
enabled = true
action = ufw
filter = wordpress-auth
logpath = /var/log/auth.log
bantime = {{ fail2ban_bantime | default('2592000') }}
findtime = {{ fail2ban_findtime | default('86400') }}
maxretry = 25

[wordpress-comments]
enabled = true
action = ufw
filter = wordpress-comments
logpath = /var/log/nginx/access.log
bantime = {{ fail2ban_bantime | default('2592000') }}
findtime = {{ fail2ban_findtime | default('86400') }}
maxretry = 50

[wordpress-trackbacks]
enabled = true
action = ufw
filter = wordpress-trackbacks
logpath = /var/log/nginx/access.log
bantime = {{ fail2ban_bantime | default('2592000') }}
findtime = {{ fail2ban_findtime | default('86400') }}
maxretry = 5
