server {

  listen 443 ssl;
  server_name {{ wordpress_hostname }} *.{{ wordpress_hostname }};

  root {{ wordpress_install_directory }}/public;
  index index.php index.html redirect.php;

  include include/ssl;
  include {{ wordpress_install_directory }}/nginx.conf;
  include include/php-fpm;

}
