map $scheme $hsts_header {
  https "max-age=60";
}

server {
  listen 80;
  server_name {{ wordpress_hostname }} *.{{ wordpress_hostname }};
  return 301 https://$host$request_uri;
}

server {

  listen 443 ssl spdy deferred;
  server_name {{ wordpress_hostname }} *.{{ wordpress_hostname }};

  root {{ wordpress_install_directory }}/public;
  index index.php index.html redirect.php;

  include include/ssl;
  include {{ wordpress_install_directory }}/nginx.conf;
  include include/php-fpm;

  add_header Strict-Transport-Security $hsts_header;

}
