{
  "Comment": "DNS records for zone {{ route53_zone_id }}",
  "Changes": [
    {
      "Action": "${ACTION}",
      "ResourceRecordSet": {
        "Name": "${FQDN}",
        "Type": "A",
        "TTL": 300,
        "ResourceRecords": [
          {
            "Value": "${IP}"
          }
        ]
      }
    },
    {
      "Action": "${ACTION}",
      "ResourceRecordSet": {
        "Name": "*.${FQDN}",
        "Type": "A",
        "TTL": 300,
        "ResourceRecords": [
          {
            "Value": "${IP}"
          }
        ]
      }
    }
  ]
}
